<!DOCTYPE html>
<html>
<head>
	<meta charset='utf-8'>
	<meta name="description" content="Open Hydrology, flood estimation, open source">
	<link rel="stylesheet" type="text/css" media="screen" href="stylesheets/stylesheet.css">
	<title>Open Hydrology</title>
	<script>
		(function (i, s, o, g, r, a, m) {
			i['GoogleAnalyticsObject'] = r;
			i[r] = i[r] || function () {
				(i[r].q = i[r].q || []).push(arguments)
			}, i[r].l = 1 * new Date();
			a = s.createElement(o),
					m = s.getElementsByTagName(o)[0];
			a.async = 1;
			a.src = g;
			m.parentNode.insertBefore(a, m)
		})(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');

		ga('create', 'UA-57426046-1', 'auto');
		ga('send', 'pageview');

	</script>
</head>
<body>

<div id="header_wrap" class="outer">
	<header class="inner">
		<img src="./images/logo.svg" width="150" height="150"
		     alt="Open Hydrology logo Egyptian hieroglyph letter N water"/>

		<h1 id="project_title">Open Hydrology</h1>

		<h2 id="project_tagline">Open source hydrological software</h2>
	</header>
</div>

<div id="main_content_wrap" class="outer">
	<section id="main_content" class="inner">
		{{ content }}
	</section>
</div>

<div id="footer_wrap" class="outer">
	<footer class="inner">
		<p>
			© Copyright 2014, Open Hydrology contributors. Content on this website is licensed under a <a rel="license"
			                                                                                              href="http://creativecommons.org/licenses/by/4.0/">Creative
			Commons Attribution 4.0 International License</a>.
		</p>
	</footer>
</div>
</body>
</html>
